@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mali&display=swap');

* {
    font-family: "Exo 2", sans-serif;
}

body {
    margin: 20px;
}

#github-link {
    display: block;
    float: right;
}

.navbar {
    background: url("https://www.pngkit.com/png/full/108-1081664_globe-world-animation-cartoon-cartoon-earth-transparent-background.png") left center no-repeat;
}

/* #feedback {
    transition: color 1s;
} */

.form-control {
    padding: 5px;
    padding-left: 20px;
}

/* Game */

#game {
    position: relative;
    background: rgb(19, 0, 31) url("https://cdn.pixabay.com/photo/2016/04/24/04/53/globe-1348777_640.png") center center no-repeat;
    padding: 100px;
    border-radius: 50px;
    height: 600px;
}

#score {
    position: absolute;
    top: 10%;
    right: 10%;
    font-family: Mali, cursive;
    font-size: 50px;
    color: white;
    transition: color 1s;
}

#streak {
    position: absolute;
    top: 20%;
    right: 10%;
    font-family: Mali, cursive;
    font-size: 50px;
    color: white;
    transition: color 1s;
}

#user-answer {
    border-radius: 10px;
    width: 50%;
    display: inline-block;
}

#feedback {
    background: rgb(68, 66, 66);
    width: 300px;
    padding: 10px;
    text-align: center;
    border-radius: 100px;
}