body {
    margin: 20px;
}

/* #feedback {
    transition: color 1s;
} */

.form-control {
    padding: 5px;
    padding-left: 20px;
}

/* Game */

#game {
    position: relative;
    background: rgb(19, 0, 31) url("https://cdn.pixabay.com/photo/2016/04/24/04/53/globe-1348777_640.png") center center no-repeat;
    padding: 100px;
    border-radius: 50px;
    height: 600px;
}

#user-answer {
    border-radius: 10px;
    width: 50%;
    display: inline-block;
}

#feedback {
    background: rgb(68, 66, 66);
    width: 300px;
    padding: 10px;
    text-align: center;
    border-radius: 100px;
}